@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Slouch.Core.IndexModel>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Slouch</title>
        <script type="text/javascript" src="../Scripts/js/app/IndexController.js"></script>
    </head>
    <body>
        Hello @Model.Hello
    </body>
</html>