<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Razor" version="3.1.2" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="2.1.0" targetFramework="net45" />
  <package id="Nancy" version="0.23.0" targetFramework="net45" />
  <package id="Nancy.Viewengines.Razor" version="0.23.0" targetFramework="net45" />
</packages>