<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Slouch</title>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="Content/app.css" />

        @*<link rel="stylesheet" href="Content/bootstrap.css" />
        <link rel="stylesheet" href="Content/bootstrap-theme.css" />*@
    </head>
    <body>
        @RenderBody()

        <script type="text/javascript" src="Content/js/angular.js"></script>
        @*<script type="text/javascript" src="Content/js/jquery-1.9.0.js"></script>*@
        @*<script type="text/javascript" src="Content/js/bootstrap.js"></script>*@
        <script type="text/javascript" src="Content/js/app.js"></script>
    </body>
</html>