@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Slouch.IndexModel>

@{
    Layout = "Shared/_Layout.cshtml";   
}

<div ng-controller="mainController">

    @*{{ stuff }}*@

    @*<ul class="menu">
        <li><a href="#/view1">view1</a></li>
        <li><a href="#/view2">view2</a></li>
    </ul>

    <div ng-view></div>

    <div>Angular seed app: v<span app-version></span></div>*@

    <div id="logo">
        @*<img src="Content/i/slouch.svg" />*@
        <h1>Slouch</h1>
        @*<h2 class="tagline">Sit back and relax.</h2>*@
    </div>

    <div id="nav">
        <a href="#add">Add</a>
        <a href="#downloading">Downloading</a>
        <a href="#arrived">Just Arrived</a>
        <a href="#looking">Still Looking</a>
        <a href="#tracked">Tracked Series</a>
        <a href="#configuration">Configuration</a>
    </div>

    <div id="add">
        <div id="add-movies">
            <h2>Add Movies</h2>

            <form>
                <input name="add-movie-name" type="text" />
                <input name="add-movie-submit" type="submit" value="Search" />
            </form>
        </div>

        <div id="add-series">
            <h2>Add Series</h2>

            <form>
                <input name="add-series-name" type="text" />
                <input name="add-series-submit" type="submit" value="Search" />
            </form>
        </div>
    </div>

    <div id="downloading">
        <h2>Downloading</h2>

        <div ng-repeat="download in downloads" class="progress-wrapper">
            <progress class="progress-child" max="100" value="{{download.CompletionPercentage}}"></progress>
            <div class="progress-label">{{download.Media.DisplayName}}</div>
        </div>
    </div>

    <div id="arrived">
        <h2>Just Arrived</h2>
    </div>

    <div id="looking">
        <h2>Still Looking</h2>
    </div>

    <div id="tracked">
        <h2>Tracked Series</h2>
    </div>

    <div id="configuration">
        <h2>Configuration</h2>
    </div>
</div>